.avatar {
  position: relative;
  &__wrapper {
    height:rem(74px);
    width:rem(74px);
    border-radius: 50%;
    overflow: hidden;

    @media screen and (max-width: $phone-width){
      height: rem(64px);
      width: rem(64px);
    }
    &:before {
      border-radius: 50%;
      content:"";
      top:0;
      left:0;
      width:rem(74px);
      height:rem(74px);
      position: absolute;
      border: rem(4px) solid transparent;
      box-sizing: border-box;
      @media screen and (max-width: $phone-width){
        height: rem(64px);
        width: rem(64px);
      }
    }
  }

  &__link {
    display: block;
    &_active .avatar__wrapper:before {
      border-color:$red_color;
    }
  }

}