* {
  box-sizing: border-box;
}

html {
  font-size: $project_font_size;
}

.dark-section {
  background-color: #161616;
}

h1, h2, h3, h4, h5, h6, ul, ul li, p {
  margin:0;
  padding:0;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.body-wrapper {
  background-color: white;
  color: black;
  font-family: $font_play;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  min-width: rem(320px);
  display: flex;
  flex-direction: column;
}

.container {
  max-width: rem(1100px);
  padding: 0 rem((1100px - $container-desktop) / 2);
  margin: 0 auto;
  height: 100vh;

  @media screen and (max-width: $tablet-width) {
    max-width: rem($tablet-width);
    padding: 0 rem(22px);
  }

  @media screen and (max-width: $phone-width) {
    max-width: rem($phone-width);
    padding: 0 rem(10px);
  }
}

.container-inner-wrapper {
  height: 100vh;
}

.container-tablet-wider {
  @media screen and (max-width: $tablet-width) and (min-width: $phone-width + 1) {
    max-width: rem($tablet-width + 20px);
    padding: 0;
  }
}

.header__container {
  height: auto;
  padding: 0;
}

.header__wrapper {
  width: 100%;
}

.gray-section {
  background-color: $gray_color;
}

.gray-light-section {
  background-color: $gray_color;
}

.button {
  display: inline-flex;
  padding: rem(17px) rem(41px);
  border-radius: rem(100px);
  color: white;
  background-color: $red_color;
  text-transform: uppercase;
  font-weight: 700;

  &:hover {
    background-color: $dark_red_color;
  }

  &_empty {
    text-transform: none;
    background: none;
    border:none;
    color: white;
    padding-left:rem(10px);
    padding-right:rem(10px);
    &:hover {
      color:$dark_red_color;
      background: none;
    }
  }
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}