.delivery {
  color: white;
  background-color: #161616;
  background-image: url("../img/design-elements/delivery-form-background.png");
  background-size: cover;
  background-position: bottom center;

  &__label {
    display: flex;
    align-items: center;
    margin-bottom: rem(6px);
    &_payment {
      margin-right: rem(20px);
    }
  }

  &__column {
    width:100%;
    @media (min-width: $tablet-width + 1) {
      &:first-of-type {
        margin-right: rem(13px);
      }
      &:last-of-type {
        margin-left: rem(13px);
      }
    }

    @media (max-width:$tablet-width) {
      margin:0;
    }
  }

  &__option {
    display: none;
    &-visible {
      margin-right:rem(6px);
      content:"";
      width: rem(26px);
      height: rem(26px);
      background-color: white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:checked ~ .delivery__option-visible:after {
      content: "";
      width:rem(14px);
      height:rem(14px);
      border-radius: rem(7px);
      background-color: $red_color;
      left: 0;
      top:0;
    }
  }

  &__checkbox {
    display: none;

    &-visible {
      width: rem(25px);
      height: rem(25px);
      background-color: white;
      border-radius: rem(4px);
      margin-right: rem(6px);

    }

    &:checked ~ .delivery__checkbox-visible {
      background-image: url("../img/design-elements/checkmark.svg");
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(10px);
    &_radios {
      justify-content: flex-start;
      margin-bottom: rem(10px);

      @media (max-width:$phone-width) {
        justify-content: center;
      }
    }

    &_text-block {
      margin-bottom: rem(32px);
    }
    &_buttons {
      justify-content: flex-start;
      @media (max-width:$tablet-width) {
        justify-content: center;
      }
    }
    &_input {
      margin-bottom: rem(42px);
      @media (max-width:$phone-width) {
        justify-content: center;
      }
    }
    &_phone {
      @media (max-width: $phone-width) {
        flex-direction: column;
      }
    }
    &_wrapper {
      @media (max-width: $tablet-width) {
        flex-direction: column;
      }
    }
  }

  &__text-block {
    width:100%;
  }

  &__column-half {
    width:calc((100% - 16px) / 2);

    @media (max-width:$phone-width) {
      width:calc((100% - 19px) / 2);
    }
  }

  &__column-quarter {
    width:calc((100% - 16px * 3) / 4);

    @media (max-width:$phone-width) {
      width:calc((100% - 12px * 3) / 4);
    }
  }

  &__column-full {
    width:100%;
  }

  &__title {
    font-size: rem(48px);
    line-height: rem(52px);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: rem(61px);
  }

  &__input, &__textarea {
    outline: none;
    border-radius: rem(4px);
    padding: rem(17px) rem(12px);
    border:rem(3px) solid white;
    width: 100%;
    &:focus {
      border-color: $red_color;
    }

    @media (max-width: $phone-width) {
      padding: rem(8px) rem(10px);
      font-size: rem(14px);
    }
  }

  &__textarea {
    min-height:rem(153px);
  }

  &__wrapper {
    padding: rem(68px) 0 rem(85px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
}