.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media screen and (max-width: $phone-width) {
    flex-direction: row;
    align-items: flex-start;
  }

  &__heading {
    font-size: rem(24px);
    line-height: rem(28px);
    font-weight: 700;
    color: #292929;
    margin-bottom: rem(7px);
  }

  &__subheading {
    font-size: rem(16px);
    line-height: rem(19px);
    color:#666666;
    max-width: rem(250px);

    @media screen and (max-width:$tablet-breakpoint) and (min-width: $phone-width + 1){
      max-width:95%;
    }
  }

  &__image {
    width:rem(64px);
    height:rem(64px);
  }

  &__icon {
    width:rem(64px);
    height:rem(64px);
    stroke:black;
    stroke-width: .1px;
  }

  &__image-wrapper {
    height:rem(128px);
    width:rem(128px);
    margin-bottom: rem(24px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F5F4;
    border-radius: 50%;

    @media (max-width: $phone-width) {
      margin-right: rem(12px);
      margin-bottom: 0;
      flex-shrink: 0;
    }
  }

  &__text-wrapper {
    @media screen and (max-width: $phone-width){
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      padding-top: rem(13px);
    }
  }
}