.hero {
  &__title {
    font-size: rem(48px);
    line-height: rem(52px);
    text-transform: uppercase;
    max-width: rem(400px);
    margin-bottom: rem(22px);

    @media (max-width: $tablet-breakpoint) {
      max-width: 100%;
    }

    @media (max-width: $phone-width) {
      font-size: rem(32px);
      line-height: rem(36px);
      margin-bottom: rem(14px);
      max-width: 371px;
    }
  }

  &__subtitle {
    font-family: $font_alegreya;
    font-size: rem(21px);
    line-height: rem(25px);
    margin-bottom: rem(36px);
    max-width: rem(350px);

    @media (max-width: $phone-width) {
      font-size: rem(18px);
      line-height: rem(20px);
      margin-bottom: rem(26px);
      max-width: 341px;
    }
  }

  &__features-list {
    display: flex;
    margin-top: rem(70px);

    &-item {
      display: flex;

      &-icon-wrapper {
        width:rem(41px);
        height:rem(41px);
        &:not(:last-of-type) {
          margin-right:rem(12px);
        }
      }

      &-icon {
        width:rem(41px);
        height:rem(41px);
        position: relative;

        &:not(:last-of-type) {
          margin-right:rem(12px);
        }
      }

      max-width: rem(166px);
      min-height: rem(56px);
      position: relative;

      &:before {
        position: absolute;
        content:"";
        top:0;
        left:0;
        width:rem(41px);
        height:rem(41px);
      }
      &:not(:last-of-type) {
        margin-right:rem(8px);
      }
    }

    @media (max-width: $tablet-breakpoint) {
      display: none;
    }
  }

  &__wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 rem(50px);
    justify-content: space-between;
    min-height: 100vh;

    @media (max-width: $tablet-breakpoint) {
      padding: 0 0 rem(50px);
      align-items: center;
      justify-content: flex-start;
    }
  }

  &__background-image {
    border-radius: 50%;
    &-wrapper
    {
      position: absolute;
      right: rem(17px);
      bottom: 0;
      top:50vh;
      transform: translateY(-50%);
      height: rem(490px);
      width: auto;
      @media (max-width: $tablet-breakpoint) {
        position: relative;
        right:0;
        top:0;
        transform: none;
        max-width: min(323px, 67%);
        height: auto;
        margin-bottom: max(64px, 6.4%);
      }

      @media (max-width: $phone-width) {
        margin-bottom: max(49px, 6%);
      }

    }
  }

  @each $feature in ('sound', 'battery', 'fast-fuel') {
    &__feature-#{$feature}:before {
      content: url("../img/icons/header-icon-#{$feature}.svg");
    }
  }

  &__inner-wrapper {
    z-index: 2;
    @media (max-width: $tablet-breakpoint) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
}

