.testimonials {
  &_wrapper {
    padding:rem(64px) 0 rem(63px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-size: rem(48px);
    line-height: rem(52px);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: rem(32px);
  }

  &__avatar-list {
    display: flex;
    justify-content: center;
  }

  &__avatar-item:not(:last-of-type) {
    margin-right: rem(6px);
  }
}