.testimonials {
  &_wrapper {
    padding:64px 79px 63px;
    box-sizing: border-box;
  }

  &__title {
    font-size: 48px;
    line-height: 52px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 32px;
  }

  &__avatar-list {
    display: flex;
    justify-content: center;
  }

  &__avatar-item:not(:last-of-type) {
    margin-right: 6px;
  }
}