.testimonial {
  padding: rem(42px) rem(107px) rem(42px) rem(40px);
  display: flex;
  background-color: $gray_color;
  position: relative;
  margin-bottom: rem(15px);

  &:before {
    content: "";
    background-color: white;
    width: rem(50px);
    height: rem(50px);
    border-radius: 50%;
    top: rem(-35px);
    left: calc(50% - 25px);
    position: absolute;

    @media (max-width: $phone-width) {
      content: none;
    }
  }

  &__image {

  }

  &__image-wrapper {
    margin-right: rem(38px);
    max-width: rem(253px);
    flex-shrink: 0;

    @media (max-width: $tablet-width) {
      max-width: rem(130px);
      margin-right: 0;
    }
  }

  &__desc-wrapper {
    padding-top: rem(32px);
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: 700;
    font-size: rem(24px);
    line-height: rem(27px);
    margin-bottom: rem(27px);
  }

  &__subtitle {
    font-size: rem(16px);
    line-height: rem(19px);
    color: #666666;
    margin-bottom: rem(43px);
  }

  &__name {
    font-size: rem(18px);
    line-height: rem(21px);
    font-weight: 700;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    justify-content: center;
    padding: rem(56px) rem(25px) rem(33px);
    text-align: center;
    align-items: center;
  }
}