.top-navigation {
  display: flex;
  align-items: center;
  margin-bottom: 94px;
  max-width: 915px;

  &__list {
    display: flex;
    margin-left: 38px;
    &-item:not(:first-of-type) {
      margin-left:27px;
    }
  }
  &__link {
    font-size: 18px;
    line-height: 30px;
    font-family: $font_alegreya;
    color: black;
  }
  &__address {
    margin-left: auto;
    position: relative;
    font-size: 18px;
    line-height: 18px;
    &:before {
      content:"";
      position: absolute;
      top:2px;
      left:-20px;
      height:14px;
      width:14px;
      background-image: url("../img/icons/header-icon-phone.svg");
    }
  }
  &__phone-link {
    font-style: normal;
    font-family: $font_play;
    color: black;
  }
}

