.top-navigation {
  display: flex;
  align-items: center;
  margin-bottom: 94px;
  max-width: 915px;

  &__list {
    display: flex;
    margin-left: 38px;
    &-item:not(:first-of-type) {
      margin-left:27px;
    }
  }
  &__link {
    font-size: 18px;
    line-height: 30px;
    font-family: $font_alegreya;
    color: black;
  }
  &__address {
    margin-left: auto;
    font-size: 18px;
    line-height: 18px;
  }
  &__phone {
    &-link {
      display: flex;
    }
    &-icon {
      max-width: 100%;
      &-wrapper {
        display: flex;
        margin-right: 6px;
      }
    }
  }

  &__phone-link {
    font-style: normal;
    font-family: $font_play;
    color: black;
  }
}

