.top-navigation {
  display: flex;
  align-items: center;
  max-width: rem(915px);

  @media (max-width: $tablet-breakpoint) {
    height: rem(91px);
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: rem(36px);
    &-item {
      margin-right:rem(28px);
      &:last-of-type {
        margin-right: 0;
      }
    }

    @media (max-width: $tablet-breakpoint) {
      display: none;
    }
  }
  &__link {
    font-size: rem(18px);
    line-height: rem(30px);
    font-family: $font_alegreya;
    color: black;
  }
  &__address {
    margin-left: auto;
    font-size: rem(18px);
    line-height: rem(18px);
    min-width: rem(152px);

    @media (max-width:$tablet-breakpoint) {
      display: none;
    }
  }
  &__phone {
    &-link {
      display: flex;
    }
    &-icon {
      max-width: 100%;
      height: 100%;
      &-wrapper {
        width: rem(14px);
        height: rem(14px);
        margin-right: rem(6px);
      }
    }
  }

  &__phone-link {
    font-style: normal;
    font-family: $font_play;
    color: black;
  }

  &__mobile-button {
    display: none;

    &-icon:before {
      content:url("../img/icons/gamburger.svg");
    }

    @media (max-width:$tablet-breakpoint) {
      display: flex;
      width: rem(24px);
      height: rem(24px);
      position: relative;
      align-items: center;
      justify-content: center;
    }
  }
}

