$container-desktop: 940px;
$tablet-width: 768px;
$tablet-breakpoint: 1024px;
$phone-width: 480px;

$project_font_size: 16px;
$gray_color:#f8faf9;
$gray_light_color:#f5f5f5;
$red_color:#E01F3D;
$dark_red_color:#CA1B36;
$font_alegreya:"Alegreya Sans",Tahoma,sans-serif;
$font_play:"Play",Tahoma,sans-serif;