.why {

  &__title {
    font-size: rem(48px);
    line-height: rem(52px);
    text-transform: uppercase;
    color: #292929;
    display: inline-flex;
    margin-bottom: rem(18px);

    @media (max-width:$phone-width) {
      font-size: rem(36px);
    }
  }

  &__subtitle {
    display: inline-flex;
    max-width: rem(590px);
    font-size: rem(16px);
    line-height: rem(18px);
    color:#666;
    margin-bottom:rem(62px);
  }

  &__wrapper {
    padding: rem(90px) 0 rem(89px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
  }

  &__features-list {
    display: flex;
    width: 100%;
    justify-content: space-between;

    @media screen and (max-width: $phone-width) {
      flex-direction: column;
      justify-content: center;
    }

    &-item {
      flex:1;
      position: relative;
      &:not(:last-of-type):after {
        content: "";
        position: absolute;
        width: rem(67px);
        height: rem(21px);
        background-image: url(../img/design-elements/features-between.svg);
        top: rem(60px);
        left: calc(100% - 2rem);

        @media screen and (max-width:$tablet-width) {
          content: none;
        }
      }


      @media (max-width: $phone-width) {
        margin-bottom: rem(31px);
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

  }
}