ul.gallery-scroll
    li.gallery-scroll__item
        a.gallery-scroll__link.gallery-scroll__link_active(href="#")
    li.gallery-scroll__item
        a.gallery-scroll__link(href="#")
    li.gallery-scroll__item
        a.gallery-scroll__link(href="#")
    li.gallery-scroll__item
        a.gallery-scroll__link(href="#")
    li.gallery-scroll__item
        a.gallery-scroll__link(href="#")
    li.gallery-scroll__item
        a.gallery-scroll__link(href="#")
    li.gallery-scroll__item
        a.gallery-scroll__link(href="#")
    li.gallery-scroll__item
        a.gallery-scroll__link(href="#")
    li.gallery-scroll__item
        a.gallery-scroll__link(href="#")