.header.gray-section
    .container.header__wrapper
        include top-navigation
        h1.header__title Беспроводные наушники Beats Solo 3
        .header__subtitle Встречайте новую версию наушников из линейки Powerbeats.
        a.button(href="#") Заказать
        ul.header__features-list
            li.header__features-list-item.header__feature-sound Безупречный звук
            li.header__features-list-item.header__feature-battery До 40 часов работы
            li.header__features-list-item.header__feature-fast-fuel Технология Fast Fuel
        img.header__background-image(src="./img/headphones.jpg")
        ul.header__gallery-scroll
            li.header__gallery-scroll-item
                a.header__gallery-scroll-link.header__gallery-scroll-link_active(href="#")
            li.header__gallery-scroll-item
                a.header__gallery-scroll-link(href="#")
            li.header__gallery-scroll-item
                a.header__gallery-scroll-link(href="#")
            li.header__gallery-scroll-item
                a.header__gallery-scroll-link(href="#")
            li.header__gallery-scroll-item
                a.header__gallery-scroll-link(href="#")
            li.header__gallery-scroll-item
                a.header__gallery-scroll-link(href="#")
            li.header__gallery-scroll-item
                a.header__gallery-scroll-link(href="#")
            li.header__gallery-scroll-item
                a.header__gallery-scroll-link(href="#")
            li.header__gallery-scroll-item
                a.header__gallery-scroll-link(href="#")
