.hero.gray-section
    .container.hero__wrapper
        include top-navigation
        .hero__wrapper
            h1.hero__title Беспроводные наушники Beats Solo 3
            .hero__subtitle Встречайте новую версию наушников из линейки Powerbeats.
            a.button(href="#") Заказать
        ul.hero__features-list
            li.hero__features-list-item.hero__feature-sound Безупречный звук
            li.hero__features-list-item.hero__feature-battery До 40 часов работы
            li.hero__features-list-item.hero__feature-fast-fuel Технология Fast Fuel
        .hero__background-image-wrapper
            img.hero__background-image(src="./img/headphones.jpg")
        ul.hero__gallery-scroll
            li.hero__gallery-scroll-item
                a.hero__gallery-scroll-link.hero__gallery-scroll-link_active(href="#")
            li.hero__gallery-scroll-item
                a.hero__gallery-scroll-link(href="#")
            li.hero__gallery-scroll-item
                a.hero__gallery-scroll-link(href="#")
            li.hero__gallery-scroll-item
                a.hero__gallery-scroll-link(href="#")
            li.hero__gallery-scroll-item
                a.hero__gallery-scroll-link(href="#")
            li.hero__gallery-scroll-item
                a.hero__gallery-scroll-link(href="#")
            li.hero__gallery-scroll-item
                a.hero__gallery-scroll-link(href="#")
            li.hero__gallery-scroll-item
                a.hero__gallery-scroll-link(href="#")
            li.hero__gallery-scroll-item
                a.hero__gallery-scroll-link(href="#")
