doctype html
head
    title Беспроводные наушники Solo
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Play:wght@400;700&display=swap")
    link(rel="stylesheet", href="./css/style.css")
body
    .body-wrapper
        include header
        include why
        include testimonials
        include delivery