.container
    nav.top-navigation
        a.logo(href="/")
            img.logo__img(src="./img/design-elements/logo.svg")
        ul.top-navigation__list
            li.top-navigation__list-item
                a.top-navigation__link(href="#") О нас
            li.top-navigation__list-item
                a.top-navigation__link(href="#") Наушники
            li.top-navigation__list-item
                a.top-navigation__link(href="#") Команда
            li.top-navigation__list-item
                a.top-navigation__link(href="#") Цвета
            li.top-navigation__list-item
                a.top-navigation__link(href="#") Отзывы
            li.top-navigation__list-item
                a.top-navigation__link(href="#") Как мы работаем
            li.top-navigation__list-item
                a.top-navigation__link(href="#") Контакты
        address.top-navigation__address
            a.top-navigation__phone-link(href="tel:88009039090") 8 800 903 90 90
