section.why
    .container
        .why__wrapper.container-inner-wrapper
            h2.why__title Почему beats solo 3?
            p.why__subtitle Процессор W1 работает невероятно эффективно и позволяет легко подключать наушники к различным устройствам Apple.
            ul.why__features-list
                li.why__features-list-item
                    .feature
                        .feature__image-wrapper
                            svg.feature__icon
                                use(xlink:href="./img/icons/sprite.svg#why-icon-battery")
                        .feature__text-wrapper
                            h3.feature__heading 40 часов работы
                            p.feature__subheading Наушники Beats Solo3 могут работать до 40 часов без подзарядки, чтобы вы могли пользоваться ими каждый день.
                li.why__features-list-item
                    .feature
                        .feature__image-wrapper
                            svg.feature__icon
                                use(xlink:href="./img/icons/sprite.svg#why-icon-sound")
                        .feature__text-wrapper
                            h3.feature__heading Фирменное звучание
                            p.feature__subheading Фирменное звучание Beats в наушниках с технологией Bluetooth класса 1 будет сопровождать вас повсюду — куда бы вы ни отправились.
                li.why__features-list-item
                    .feature
                        .feature__image-wrapper
                            svg.feature__icon
                                use(xlink:href="./img/icons/sprite.svg#why-icon-charging")
                        .feature__text-wrapper
                            h3.feature__heading Быстрая зарядка
                            p.feature__subheading Благодаря технологии Fast Fuel всего через 5 минут зарядки вы сможете слушать музыку ещё 3 часа.